@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brandColor: #00425f;
  --color-blueColor: #0000ff;
  --color-deepBlueColor: #003366;
  --color-darkBlueColor: #0059b3;
  --color-lightBlueColor: #007fff;
  --color-redColor: #ff0000;
  --color-lightRedColor: #ff4d4d;
  --color-greenColor: #00ff00;
  --color-lightGreenColor: #4dff4d;
  --color-yellowColor: #ffff00;
  --color-lightYellowColor: #ffff4d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Fix slick buttons bị Tailwind reset mất */
.slick-prev:before,
.slick-next:before {
  color: #333 !important;  /* hoặc màu bạn muốn, ví dụ #FF9933 */
  font-size: 28px !important;
  opacity: 1 !important;
}
.slick-slide > div {
  padding: 0 10%;
  display: flex;
  justify-content: flex-end;
  width: 100% !important;
  padding-top: 8px;   /* hoặc 1rem */
  padding-bottom: 8px;

}
